.section-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.section-title i{
    font-size: 3rem;
}

.icon {
    color: var(--main-color);
    font-size: 1.5rem;
}
.values-list li {
    margin-bottom: 0.75rem;
}
.lead-text {
    font-size: 1.25rem;
    font-weight: 500;
}
.img-section {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.row{
    margin: 1rem!important;;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1.5rem!important;
}

.col-text{
    max-width: 30rem!important;
}

.col-text p{
    text-align: justify;
}

.col-text .icon{
    margin-right: 0.5rem;
    font-size: 2rem;
}

.text-icon{
    margin-right: 0.5rem!important;
    font-size: 1.25rem!important;
}

h3{
    margin-top: 1rem!important;
}

.container{
    max-width: 65rem!important;
}

.img-section{
    max-height: 35rem;
}